@import "tailwindcss";

html {
  @apply h-full m-0 p-0;
}

body {
  @apply bg-slate-900 m-0 p-0 min-h-screen;
  font-family: "Inter", sans-serif;
}

body::before {
  content: '';
  @apply fixed top-0 left-0 w-full h-full bg-gradient-to-br from-slate-900 to-slate-800 -z-10;
}